.btn{
    display: inline-block!important;
    margin-top: 1rem;
    border: 0.1rem solid #0eb582 !important;
    background: #f0fdfa !important;
    color: #0eb582 !important;
    cursor: pointer!important;
    text-transform: capitalize;
}
.btn:hover {
    background: #0eb582!important;
    color: #fff!important;
}