.home-courses .slide {
    text-align: center;
    position: relative;
    background: #f0fdfa;
    overflow: hidden;
  }
  
  .home-courses .slide:hover .content {
    bottom: 0;
  }
  
  .home-courses .slide .image {
    padding: 2rem;
  }
  
  .home-courses .slide .image img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .home-courses .slide .image h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #444;
  }
  
  .home-courses .slide .content {
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    line-height: 1px;
    background: #0eb582;
    padding: .5rem 0.5rem;
  }
  
  
  .home-courses .slide .content h3 {
    font-size: 1rem;
    text-transform: capitalize;
    color: #444;
    color: #fff;
  }
  
  .home-courses .slide .content p ,h6 {
    padding: .1rem 0;
    margin-bottom: 0px;
    font-size: .8rem;
    line-height: 1.5;
    color: #777;
    color: #eee;
  }
  
  .home-courses .slide .content .btn:hover {
    background: #444;
  }